body{
    background-image: url(images/background.png);
    background-size: cover;
    
    font-family: 'Roboto', sans-serif;
}

.welcome-container{
    max-width: 75%;
    background: #FFFFFF;
    margin: 0 auto;
    padding: 10px;
    margin-top: 90px;
    box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.4);
}

.welcome-container h2{
    color: #137bc0;
    font-size: 30px;
    margin: 0;
    padding: 7px 10px;
}

.container-content{
    max-width: 75%;
    overflow: scroll;
    background: #FFFFFF;
    margin: 0 auto;
    padding: 10px;
    margin-top: 20px;
    box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.4);
    margin-bottom: 70px;
}

.list-table{
    border-collapse: collapse;
}

.list-table td, .list-table th{
    padding: 8px;
    text-align: center;
}

.list-table td:nth-child(3){text-transform: uppercase;}

.list-table tr:nth-child(even){background-color: #f2f2f2;}

.list-table tr:hover {background-color: #ddd;}

.list-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #137bc0;
    color: white;
    text-transform: uppercase;
}

.tdCb{
    width: 128px;
}

.tdCb input[type="checkbox"]{
    width: 20px;
    height: 20px;
}

.tdNote{
    width: 60px;
}

.tdNote input[type="text"]{
    width:40px;
    height: 25px;
    text-align: center;
}

.tdAddr{
    width: 370px;
}

.tdAddr td{
    font-size: 14px;
}

.tdEtr, .tdMdS{
    width: 200px;
}

.tdGr{
    width: 100px;
}

.tdLa{
    width: 200px;
}

.tdNa{
    width: 150px;
}

.tdFiche{
    width:30px;
}

.tdActions{
    width:86px;
}

.detailsBtn img{
    width: 30px;
}

.container-header{
    margin-bottom: 20px;
}

.container-header h2{
    color: #137bc0;
    font-size: 35px;
    margin-left: 28px;
    margin-top: 20px;
}

.searchForm{
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchSubmit{
    border-radius: 5px;
    padding:8px;
}

.search input[type="text"]{
    border-radius: 5px;
    width: 50%;
    height: 30px;
    padding-left: 5px;
    margin-right: 20px;
}

.container-list{
    width: 2900px;
    margin-left: 30px;
}

.container-buttons{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.container-buttons a {
    margin:10px;
    background: lightgray;
    padding: 8px;
    border:1px solid gray;
    text-decoration: none;
    color:black;
    font-size:16px;
    border-radius: 5px;
}

.tdMotCle{
    width: 80px;
}

.tdMotCle a{
    text-decoration: none;
    color: black;
    background: #e1e1e1;
    border: 1px solid #adadad;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
}