body{
    background-image: url(images/background.png);
    background-size: cover;
    
    font-family: 'Roboto', sans-serif;
}

.page{
    margin-top: 50px;
    width: 70%;
    background: white;
    padding: 40px;
    box-shadow: 2px 2px grey;
    margin-bottom: 60px;
}

.pageContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.pageHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 30px;
    color: #137bc0;
}

.logoEfrei{
    width: 15%;
}

.pageContainer {
    display: flex;
    justify-content: center;
}

.firstTwo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.third{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    width: 130%;
}

.person{
    width: 20%;
    margin-top: 20px;
}

.containImage{
    width: 100%;
    text-align: center;
}

.container{
    width: 48%;
    box-shadow: 2px 2px lightgrey;
    border-radius: 5px;
}

.bar_title{
    background: lightgrey;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    border-radius: 5px 5px 0px 0px;
}

.bar_title div{
    margin-left: 20px;
}

.content{
    width: 100%;
    padding: 30px;
}

.line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.line div {
    text-align: left;
    width: 40%;
}

.line div:first-child{
    font-weight: bold;
}