body{
    background-image: url(images/background.png);
    background-size: cover;
    
    font-family: 'Roboto', sans-serif;
}

.container-content{
    max-width: 75%;
    overflow: scroll;
    background: #FFFFFF;
    margin: 0 auto;
    padding: 10px;
    margin-top: 90px;
    box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.4);
}

.list-table{
    border-collapse: collapse;
}

.list-table td, .list-table th{
    padding: 8px;
    text-align: center;
}

.list-table td:nth-child(3){text-transform: uppercase;}

.list-table tr:nth-child(even){background-color: #f2f2f2;}

.list-table tr:hover {background-color: #ddd;}

.list-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #137bc0;
    color: white;
    text-transform: uppercase;
}

.detailsBtn img{
    width: 30px;
}

.container-header{
    margin-bottom: 20px;
}

.container-header h2{
    color: #137bc0;
    font-size: 40px;
    margin-left: 10px;
}

.search{
    display: flex;
    justify-content: center;
}

.search input{
    border-radius: 5px;
    width: 50%;
    height: 30px;
    padding-left: 5px;
    margin-right: 20px;
}

.container-list{
    width: 130%;
    margin-left: 30px;
}

.container-buttons{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.container-buttons a {
    margin:10px;
    background: lightgray;
    padding: 8px;
    border:1px solid gray;
    text-decoration: none;
    color:black;
    font-size:16px;
}