body{

    background-image: url(images/background.png);
    background-size: cover;
}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10%;
}

#FramePanel{
    width: 40%;
}

#FrameBorder{  
    /* Frame Border */

    background: #FFFFFF;
    box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.4);
    
}

#AuthentificationBar{
    /* Authentification Bar */
    width: 100%;
    height: 80px;
    background: #007BC1;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#EFREILOGO{
    width: 20%;
    height: 60%;
    margin-left: 20px;
}

#AuthentificationText{
    /* Authentification */

    font-family: Roboto;
    font-size: 30px;

    margin-right: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #FFFFFF;

}

#FORM{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.inputLabalContainer{
    width: 100%;
    margin-bottom: 30px;
}

.inputLabal{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    width: 90%;
}

.inputLabal label {
    font-size: 30px;
    color: #007BC1;
    margin: 0;
}

.inputLabal input {
    /* TextBox Username and Password*/
    width: 60%;
    height: 40px;
    background: #E0E0E0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-size: 20px;
    padding-left: 10px;
    border: 1px solid grey;
}

.buttonContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#SendButton{
    /* SendButton */
    width: 30%;
    height: 50px;
    background: #007BC1;
    border-radius: 25px;  
    cursor:pointer;
    color: #FFFFFF;
    font-size: 20px;
    margin-right: 40px;
}

#errorMsgContainer{
    color: red;
    width: 50%;
    margin-left: 5%;
    height: 60px;
    display: flex;
    align-items: center;
    
    border: 1px solid red;
    background-color: #ffb8b0;
    border-radius: 10px;
}

#errorMsg{
    width: 100%;
    text-align: center;
    
}