<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateInfos</servlet-name>
        <servlet-class>Controllers.UpdateInfos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateInternshipInfos</servlet-name>
        <servlet-class>Controllers.UpdateInternshipInfos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewKeyWords</servlet-name>
        <servlet-class>Controllers.ViewKeyWords</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageKeyWords</servlet-name>
        <servlet-class>Controllers.ManageKeyWords</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateInternshipInfos</servlet-name>
        <url-pattern>/UpdateInternshipInfos</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>NewStudent</servlet-name>
        <servlet-class>Controllers.NewStudent</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>Controllers.LogOut</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/LogOut</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ViewStudentInfo</servlet-name>
        <servlet-class>Controllers.ViewStudentInfo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewStudentInfo</servlet-name>
        <url-pattern>/ViewStudentInfo</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>WelcomeController</servlet-name>
        <servlet-class>Controllers.WelcomeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WelcomeController</servlet-name>
        <url-pattern>/WelcomeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateInfos</servlet-name>
        <url-pattern>/UpdateInfos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewStudent</servlet-name>
        <url-pattern>/NewStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewKeyWords</servlet-name>
        <url-pattern>/ViewKeyWords</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageKeyWords</servlet-name>
        <url-pattern>/ManageKeyWords</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
    
    <resource-ref>
        <description>HikariDB Connection</description>
        <res-ref-name>jdbc/OracleHikari</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    <welcome-file-list>
        <welcome-file>LoginController</welcome-file>
    </welcome-file-list>
</web-app>
