/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28 oct. 2020, 11:51:37
    Author     : natha
*/

body{

   /* Login Page Frame */



background: #999999;

}

#FramePanel{
    
position: absolute;
width: 712px;
height: 284px;
left: calc(50% - 712px/2);
top: calc(50% - 284px/2 - 45px);

    
}

#FrameBorder{
    
/* Frame Border */


position: absolute;
width: 707px;
height: 278px;
left: 5px;
top: 6px;

background: #C4C4C4;
border-radius: 12px;
    
}


#LoginMenuText{
    
    /* Login Menu */



position: absolute;
width: 403px;
height: 56px;
left: calc(50% - 403px/2);
top: calc(25% - 56px/2 - 89px);

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 75px;
text-align: center;

color: #000000;
}

#TextBoxUsername{
    /* TextBoxUsername */


position: absolute;
width: 327px;
height: 46px;
left: 56px;
top: 108px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 12px;
    
   
}
#TextBoxPassword{
    
    /* TextBoxPassword */


position: absolute;
width: 327px;
height: 46px;
left: 56px;
top: 184px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 12px;
    
}

#SendButton{
    /* SendButton */


position: absolute;
width: 192px;
height: 49px;
left: 461px;
top: 181px;
    
    
}
